# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info

# Unit test / coverage reports
.cache
.coverage
.tox/
.pytest_cache/

# Environments and dependencies
venv*

# vim
*.swp

# OSX
.DS_Store
